<nav style="background-color: rgba(158, 158, 158, 0.21);">
 <div class="nav-wrapper">
 <a href=" " style="color: #9E9E9E; marginright:
10px;" class="right">Copyright &copy; Sara Yazdani</a>
 </div>
</nav>
